/ml-20m/
/DataConverter/obj/
/DataConverter/bin/
/Recommender/.vs/
/Recommender/bin/
/Recommender/obj/
/DataSpliter/bin
/DataSpliter/obj
/TestRemmender/bin
/TestRemmender/obj
/WebServer/bin
/WebServer/obj
/WebServer/model.db
/WebServer/model.db-shm
/WebServer/model.db-wal
/WebServer/MovieRecommenderModel.zip
/WebServer/WordEmbedding.zip